#sidebar-open {
    border: 1px solid black;
    display: block;
    position: absolute;
    left: 5px;
    top: 5px;
    font-size: 2em;
    width: 75px;
    opacity: 0.8;
    z-index: 50;
}
#sidebar {
    background: #333;
    box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.2);
    height: 600px;
    width: 300px;
    position: absolute;
    left: -310px;
    top: 0;
    z-index: 1000;
}
#sidebar .sidebar-top {
    width: 300px;
    height: 50px;
    background: #fff;
    padding: 10px 0;
    box-sizing: border-box;
}
#sidebar-gohome {
    display: inline-block;
    margin-left: 10px;
    color: black;
    border: 1px solid black;
    padding: 8px;
}
#sidebar .sidebar-title {
    display: inline-block;
    margin-left: 10px;
}


.sidebar-in {
    animation-duration: 0.4s;
    animation-name: sidebar-in;
    animation-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
    animation-fill-mode: forwards;
}
@keyframes sidebar-in {
    from {
        left: 0;
    }
    to {
        left: -310px;
    }
}
.sidebar-out {
    animation-duration: 0.4s;
    animation-name: sidebar-out;
    animation-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
    animation-fill-mode: forwards;
}
@keyframes sidebar-out {
    from {
        left: -310px;
    }
    to {
        left: 0;
    }
}

ul.main-menu {
    padding: 5px 0 5px 5px;
    margin: 0;
    color: #fff;
    font-size: 1.5em;
}
.main-menu li {
    width: 32px;
    padding: 0.5em 0 0.5em 37px;
    box-sizing: border-box;
    background-size: 32px;
    background-position: 0 0;
    background-repeat: no-repeat;
}
.main-menu li.opened {
    padding-bottom: 3px;
    border-bottom: 5px solid white;
}
.main-menu .settings {
    background-image: url("../img/settings.png");
}
.main-menu .help {
    background-image: url("../img/question.png");
}

